@font-face {
  font-family: "Helvetica Neue LT Std";
  src: url("../fonts/HelveticaNeueLTStd-Roman.eot");
  src: url("../fonts/HelveticaNeueLTStd-Roman.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueLTStd-Roman.woff2") format("woff2"), url("../fonts/HelveticaNeueLTStd-Roman.woff") format("woff"), url("../fonts/HelveticaNeueLTStd-Roman.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue LT Std HvCn";
  src: url("../fonts/HelveticaNeueLTStd-HvCn.eot");
  src: url("../fonts/HelveticaNeueLTStd-HvCn.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueLTStd-HvCn.woff2") format("woff2"), url("../fonts/HelveticaNeueLTStd-HvCn.woff") format("woff"), url("../fonts/HelveticaNeueLTStd-HvCn.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue LT Std Cn";
  src: url("../fonts/HelveticaNeueLTStd-Cn.eot");
  src: url("../fonts/HelveticaNeueLTStd-Cn.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueLTStd-Cn.woff2") format("woff2"), url("../fonts/HelveticaNeueLTStd-Cn.woff") format("woff"), url("../fonts/HelveticaNeueLTStd-Cn.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue LT Std MdCn";
  src: url("../fonts/HelveticaNeueLTStd-MdCn.eot");
  src: url("../fonts/HelveticaNeueLTStd-MdCn.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueLTStd-MdCn.woff2") format("woff2"), url("../fonts/HelveticaNeueLTStd-MdCn.woff") format("woff"), url("../fonts/HelveticaNeueLTStd-MdCn.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue LT Std LtCn";
  src: url("../fonts/HelveticaNeueLTStd-LtCn.eot");
  src: url("../fonts/HelveticaNeueLTStd-LtCn.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueLTStd-LtCn.woff2") format("woff2"), url("../fonts/HelveticaNeueLTStd-LtCn.woff") format("woff"), url("../fonts/HelveticaNeueLTStd-LtCn.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue LT Std BlkCn";
  src: url("../fonts/HelveticaNeueLTStd-BlkCn.eot");
  src: url("../fonts/HelveticaNeueLTStd-BlkCn.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueLTStd-BlkCn.woff2") format("woff2"), url("../fonts/HelveticaNeueLTStd-BlkCn.woff") format("woff"), url("../fonts/HelveticaNeueLTStd-BlkCn.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue LT Std BdCn";
  src: url("../fonts/HelveticaNeueLTStd-BdCn.eot");
  src: url("../fonts/HelveticaNeueLTStd-BdCn.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueLTStd-BdCn.woff") format("woff"), url("../fonts/HelveticaNeueLTStd-BdCn.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue LT Std Bd";
  src: url("../fonts/HelveticaNeueLTStd-Bd.eot");
  src: url("../fonts/HelveticaNeueLTStd-Bd.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueLTStd-Bd.woff") format("woff"), url("../fonts/HelveticaNeueLTStd-Bd.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue LT Std Cn";
  src: url("../fonts/HelveticaNeueLTStd-Cn.eot");
  src: url("../fonts/HelveticaNeueLTStd-Cn.eot?#iefix") format("embedded-opentype"), url("../fonts/HelveticaNeueLTStd-Cn.woff") format("woff"), url("../fonts/HelveticaNeueLTStd-Cn.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
.post-featured-image {
  margin-top: 50px;
}
.post-featured-image img {
  width: 100%;
  height: auto;
}

.breadcrumbs {
  margin: 20px 0;
}
.breadcrumbs a,
.breadcrumbs span {
  color: black;
  font-family: "Helvetica Neue LT Std LtCn";
  font-size: 18px;
}

.nota-title {
  font-size: 60px;
  font-family: "Helvetica Neue LT Std BlkCn";
  text-transform: uppercase;
  margin-top: 30px;
}

.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 1rem;
  padding: 0.25rem 0;
  font-size: 14px;
  line-height: 1.2;
  color: #444;
}
.grid .column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.25rem;
}
.grid .column .autor,
.grid .column .fecha {
  white-space: nowrap;
}
.grid .column .column:last-child {
  text-align: right;
}
.grid .column .column:last-child .duracion,
.grid .column .column:last-child .dificultad {
  white-space: nowrap;
}
.grid .column .autor a {
  color: #f2762e;
  font-weight: 600;
  text-decoration: none;
}
.grid .column .duracion b,
.grid .column .dificultad b {
  color: #f2762e;
  font-weight: 600;
}
@media (max-width: 640px) {
  .grid .column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .grid .column .column:last-child {
    text-align: left;
  }
}

.nota {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: self-start;
      -ms-flex-align: self-start;
          align-items: self-start;
  padding-top: 20px;
}
.nota .contenido {
  width: calc(60% - 20px);
  margin-right: 20px;
  text-align: justify;
}
.nota .aside {
  width: 40%;
}
.nota .aside .excerpt {
  width: 100%;
  display: block;
  padding: 20px;
  background-color: #e5e5e5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 30px;
}
.nota .aside .excerpt .tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.nota .aside .excerpt .tags .tag {
  background-color: #f96302;
  padding: 10px;
  margin-right: 5px;
  margin-bottom: 5px;
  text-transform: uppercase;
}
.nota .aside .excerpt .descipcion {
  margin-top: 10px;
}
.nota .aside .navegacion {
  display: block;
  padding: 20px;
  background-color: #e5e5e5;
  margin-bottom: 30px;
}
.nota .aside .navegacion ol {
  padding-left: 15px;
}
.nota .aside .categorias {
  display: block;
  padding: 20px;
  background-color: #e5e5e5;
}
.nota .aside .categorias .grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
.nota .aside .categorias .grid .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 200px;
  background-color: red;
}
.nota .aside .aside-title {
  font-family: "Helvetica Neue LT Std BdCn";
}